@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali&family=Tiro+Bangla&family=EB+Garamond&display=swap');

:root {
    --primary-color: #E4B363;
    --secondary-color: #5A4C5A;
    --background-color: #FAF3E0;
    --text-color: #2D2A29;
}

body {
    font-family: 'Tiro Bangla', 'Noto Serif Bengali', serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url('/textures/parchment.png');
    background-size: cover;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Tiro Bangla', 'Noto Serif Bengali', serif;
    color: var(--primary-color);
    text-align: center;
}

p {
    margin: 0 0 1em;
}